In [115]:
import pandas as pd
import re
#import matplotlib.pyplot as plt
#import seaborn as sns

In [137]:
df = pd.read_csv('data/cleaned_up_therapist_info.csv')

In [138]:
df

,name,zip,title,specialties,price
0,"Age Wise, LLC",97005,"Psychologist,PsyD,LP",Depression Anxiety ChronicIllness,170.0
1,Jessilyn Barron,97005,"ClinicalSocialWork/Therapist,MSW,LCSW",RelationshipIssues Parenting LifeTransit...,150.0
2,Luis D Capestany,97005,"LicensedProfessionalCounselor,LPC,CRC,MRC,CGG",ADHD Anxiety MoodDisorders,200.0
3,Jen Shelton,97005,"LicensedProfessionalCounselor,MA,MS,LPC,NCC",DissociativeDisorders TraumaandPTSD Depr...,115.0
4,Frank D. Canepa,97005,"LPCIntern,LPC-I,MA",Depression Anxiety Spirituality,80.0
...,...,...,...,...,...
1775,Rochelle I Mollen,97239,"ClinicalSocialWork/Therapist,MSW,LCSW",ChildorAdolescent Divorce TraumaandPTSD,120.0
1776,Mai Bao Xiong,97239,"Marriage&FamilyTherapist,MS,LMFT",Depression Anxiety TraumaandPTSD,150.0
1777,Kathryn Valero,97239,"LicensedProfessionalCounselor,MA,LMHC,LPC",CopingSkills BorderlinePersonality Traum...,150.0
1778,Miriam Louise Robinson,97239,"ClinicalSocialWork/Therapist,LCSW,DCC",Depression Parenting Adoption,150.0
1779,Brian Hannah,97239,"ClinicalSocialWork/Therapist,MSW,LCSW",Grief LifeTransitions ChronicIllness,130.0