In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
full_df = pd.read_csv('data/therapist_data.csv')

In [5]:
full_df = full_df.set_index('name')

In [6]:
#full_df
full_df.head()

,zip,title,specialties,price
name,,,,
"Age Wise, LLC",97005.0,"Psychologist,PsyD,LP",Depression Anxiety ChronicIllness,$170-$250
Jessilyn Barron,97005.0,"ClinicalSocialWork/Therapist,MSW,LCSW",RelationshipIssues Parenting LifeTransit...,$150-$275
Luis D Capestany,97005.0,"LicensedProfessionalCounselor,LPC,CRC,MRC,CGG",ADHD Anxiety MoodDisorders,$200+
Jen Shelton,97005.0,"LicensedProfessionalCounselor,MA,MS,LPC,NCC",DissociativeDisorders TraumaandPTSD Depr...,$115-$185
Frank D. Canepa,97005.0,"LPCIntern,LPC-I,MA",Depression Anxiety Spirituality,$80+

In [7]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2184 entries, Age Wise, LLC to Melinda Honeycutt
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   zip          2181 non-null   float64
 1   title        2177 non-null   object
 2   specialties  2161 non-null   object
 3   price        2162 non-null   object
dtypes: float64(1), object(3)
memory usage: 85.3+ KB

In [8]:
full_df.describe()

                zip
count   2181.000000
mean   96413.247593
std     7419.847929
min     1201.000000
25%    97202.000000
50%    97213.000000
75%    97223.000000
max    99504.000000